<% content_for :menu do %>
	<%= render :partial => 'menu', :locals => { :secoes => @secoes } %>
<% end -%>

<% content_for :content do %>

<h1>Editar página</h1>

	<%= render :partial => "form_pagina", :locals => { :pagina => @pagina } %>

<% end -%>

