<% content_for :menu do %>
	<%= render :partial => 'menu', :locals => { :secoes => @secoes } %>
<% end -%>
<% content_for :content do %>

<% @paginas.each do |pagina| %>
<div class="promo">
    <h3><%=h pagina.titulo %></h3>
    <%= RedCloth.new(pagina.conteudo[0..140] + ". . ." ).to_html %>
	<% if current_user %>
    	<%= link_to 'Editar', edit_pagina_path(pagina) %>
	<% end %>
 </div>
<% end %>

<% end -%>