<% content_for :menu do %>
	<%= render :partial => 'menu', :locals => { :secoes => @secoes } %>
<% end -%>

<% content_for :content do %>

<h1>Nova página</h1>
<%= render :partial => "form_pagina", :locals => { :pagina => @pagina } %>
<%= link_to 'Voltar para listagem', paginas_path %>
<% end %>
