h1 { font-size: 1.93em; }
h2 { font-size: 1.72em; }
h3 { font-size: 1.61em; }
h4 { font-size: 1.44em; }
h1, h2, h3, h4 { line-height: 1.9em; }
p {margin: 1em 0;} 
ul, ol { margin-left:2em; }
ul li {list-style-type: circle;}
ol li {list-style-type: decimal;}
body {
	margin:.5em;
	padding:0;
	font-family:Helvetica, Arial, sans;
	font-size:.8em;
	line-height: 1.4em;
}
#ft {
	border-top: 1px solid #666;
}
#content {
	border-left: 1px solid #666;
	padding: 0 0 0 .5em;
}
#hd {
	border-bottom: 1px solid #666;
	padding: .5em 0 0 0;
}
.menu li {
	padding: .5em;
	font-weight: 600;
	border-bottom: 1px solid #666;
}
.proposicao {
	border-bottom: 1px #666 solid;
	background: #dff;
	padding:.5em;
	margin:.5em;
}
.meta {
	font-weight: 600;
}

/* ================================ */
/* = Paginacao                    = */
/* ================================ */

.pagination {
	margin:1em .5em;
}
.pagination ul {
	margin:1em 0 2em 0;
	padding:0;
	font-size: .8em;
}
.pagination ul li {
	list-style-type: none;
	display: inline;
	padding:.3em;
	border: 1px solid #ccf;
	margin: 0 .2em;
}
.pagination ul li a {
	padding:.3em;
	margin: 0;
}

.disablepage {
	background:#DDDDDD none repeat scroll 0 0;
}
.currentpage {
	background:#DDDDDD none repeat scroll 0 0;
}
.nextpage {
	background:#ccf none repeat scroll 0 0;
}

/* ================================== */
/* = Estilos de resultados de busca = */
/* ================================== */

.highlight {
	background:#ff0;
	padding:.3em;
}