h1 { font-size: 1.93em; }
h2 { font-size: 1.72em; }
h3 { font-size: 1.61em; }
h4 { font-size: 1.44em; }
h1, h2, h3, h4 { line-height: 1.2em; }
p {margin: 1em 0;} 
ul, ol { margin-left:2em; }
ul li {list-style-type: circle;}
ol li {list-style-type: decimal;}
body {
	margin:.5em;
	padding:0;
	font-family:Helvetica, Arial, sans;
	font-size:.8em;
	line-height: 1.4em;
}
#ft {
	border-top: 1px solid #666;
}
#content {
	border-left: 1px solid #666;
	padding: 0 0 0 .5em;*/
}
#content-1col {
	width: 150%;
}
#hd {
	border-bottom: 1px solid #666;
	padding: .5em 0 0 0;
}
#bd {}
#top_panel {
	margin: .4em 0;
}
.menu ul {
	margin: 0;
	padding:.3em;
}
.menu h3 {
 font-size: 1.2em;
	margin: .3em 0 ;
}
.menu li {
	padding: .1em;
	font-weight: 600;
	border-bottom: 1px solid #666;
	list-style-type: none;
}
.menu li a {
	text-decoration: none;
}
.proposicao, .andamento {
	border-bottom: 1px #666 solid;
	padding:.5em;
	margin:.5em;
}
.campo {
	clear:both;
	border-bottom:1px solid #ccc;
	min-height: 1.3em;
}
.associacao {
	margin: 0 0 0 2em;
}
.meta {
	font-weight:600;
	float: left;
	clear:both;
}
.atributo {
margin: 0 0 0 200px;
}
.nav_container {
	clear:both;
}

.flash {
	padding: .4em;
	background: #484;
	clear:both;
	color: #fff;
	font-weight: 600;
	margin: .4em 0;
}
/* ========================== */
/* = Autenticacao/navegação = */
/* ========================== */
.user_nav {
	float: right;
	clear: both;
}
/* ================================ */
/* = Paginacao                    = */
/* ================================ */

.pagination {
	margin:1em .5em;
}
.pagination a {
	text-decoration:none;
	margin:1em 0 2em 0;
	padding:0;
	padding:.3em;
	border: 1px solid #ccf;
}

.disablepage {
	background:#DDDDDD none repeat scroll 0 0;
}
.currentpage {
	background:#DDDDDD none repeat scroll 0 0;
}
.nextpage {
	background:#ccf none repeat scroll 0 0;
}

/* ================================== */
/* = Estilos de resultados de busca = */
/* ================================== */

.highlight {
	background:#ff0;
	padding:.3em;
}