<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <title>Votaio: gov.data.br</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>
<body>
<div id="doc" class="yui-t7">
   <div id="hd" role="banner">
	<img src="/images/votaio_br_main.jpg" alt="votaio - open.gov.data - brasil">
   </div>
   <div id="bd" role="main">
	<div class="yui-gd">
    <div class="yui-u first">
	    <ul class="menu">
	<%= yield :menu %>
	      </ul>
	    </div>
    <div class="yui-u">
		<div id="content">
	     <%= yield :content %>
		</div>
    </div>
</div>

	</div>
   <div id="ft" role="contentinfo"><p>Votaio - open data.gov.br. Versão 001 Beta. No rights reserved</p></div>
</div>
</body>
</html>
